# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [1]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [3]:
ET.phone_home() # ok, come on, I really had to. You can't call it ET and expect me not to try to do that...

AttributeError: 'module' object has no attribute 'phone_home'

In [4]:
# print names of all countries
for child in document_tree.getroot():
    print child.find('name').text

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [5]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [6]:
document = ET.parse( './data/mondial_database.xml' )

In [7]:
mondial_root = document.getroot()

In [8]:
for i, child in zip(range(10),mondial_root): # I need to visualize this tree
    print child.tag, child.attrib['name']

country

KeyError: 'name'

In [9]:
for i, child in zip(range(10),mondial_root): # attrib is inside the tag, names are separate tags in the body
    print child.tag + ': ' + child.find('name').text + '\n' + 'Attribs:',  child.attrib

 country: Albania
Attribs: {'memberships': 'org-BSEC org-CEI org-CD org-SELEC org-CE org-EAPC org-EBRD org-EITI org-FAO org-IPU org-IAEA org-IBRD org-ICC org-ICAO org-ICCt org-Interpol org-IDA org-IFRCS org-IFC org-IFAD org-ILO org-IMO org-IMF org-IOC org-IOM org-ISO org-OIF org-ITU org-ITUC org-IDB org-MIGA org-NATO org-OSCE org-OPCW org-OAS org-OIC org-PCA org-UN org-UNCTAD org-UNESCO org-UNIDO org-UPU org-WCO org-WFTU org-WHO org-WIPO org-WMO org-UNWTO org-WTO', 'area': '28750', 'car_code': 'AL', 'capital': 'cty-Albania-Tirane'}
country: Greece
Attribs: {'memberships': 'org-AG org-BIS org-BSEC org-CD org-SELEC org-CE org-EMU org-EAPC org-EBRD org-ECB org-EIB org-CERN org-ESA org-EU org-FATF org-FAO org-IGAD org-IPU org-IAEA org-IBRD org-ICC org-ICAO org-ICJ org-ICCt org-Interpol org-IDA org-IEA org-IFRCS org-IFC org-IFAD org-IHO org-ILO org-IMO org-IMSO org-IMF org-IOC org-IOM org-OIF org-ITSO org-ITU org-ITUC org-MIGA org-NATO org-NEA org-NSG org-OECD org-OSCE org-OPCW org-OAS org-PCA org-UN org-UNCTAD org-UNESCO org-UNHCR org-UNIDO org-UNIFIL org-UPU org-WCO org-WFTU org-WHO org-WIPO org-WMO org-UNWTO org-WTO org-ZC', 'area': '131940', 'car_code': 'GR', 'capital': 'cty-Greece-Athens'}
country: Macedonia
Attribs: {'memberships': 'org-BIS org-CEI org-CD org-SELEC org-CE org-EAPC org-EBRD org-EU org-FAO org-IPU org-IAEA org-IBRD org-ICC org-ICAO org-ICCt org-Interpol org-IDA org-IFRCS org-IFC org-IFAD org-ILO org-IMO org-IMF org-IOC org-IOM org-OIF org-ITU org-ITUC org-MIGA org-OSCE org-OPCW org-OAS org-PFP org-PCA org-UN org-UNCTAD org-UNESCO org-UNHCR org-UNIDO org-UNIFIL org-UPU org-WCO org-WHO org-WIPO org-WMO org-UNWTO org-WTO', 'area': '25333', 'car_code': 'MK', 'capital': 'cty-Macedonia-Skopje'}
country: Serbia
Attribs: {'memberships': 'org-BIS org-BSEC org-CEI org-CD org-SELEC org-CE org-EAPC org-EBRD org-EU org-FAO org-G-9 org-IPU org-IAEA org-IBRD org-ICC org-ICAO org-ICCt org-Interpol org-IDA org-IFRCS org-IFC org-IHO org-ILO org-IMO org-IMSO org-IMF org-IOC org-IOM org-OIF org-ITSO org-ITU org-ITUC org-MIGA org-NAM org-NSG org-OSCE org-OPCW org-OAS org-PFP org-PCA org-UN org-UNCTAD org-UNESCO org-UNHCR org-UNIDO org-UNIFIL org-UNMIL org-UNOCI org-MONUSCO org-UNFICYP org-UNTSO org-UPU org-WCO org-WHO org-WIPO org-WMO org-UNWTO org-WTO', 'area': '77474', 'car_code': 'SRB', 'capital': 'city-Belgrade-SRB-SRB'}
country: Montenegro
Attribs: {'memberships': 'org-CEI org-CD org-SELEC org-CE org-EAPC org-EBRD org-EU org-FAO org-IPU org-IAEA org-IBRD org-ICC org-ICAO org-ICCt org-Interpol org-IDA org-IFRCS org-IFC org-IHO org-ILO org-IMO org-IMSO org-IMF org-IOC org-IOM org-ISO org-OIF org-ITSO org-ITU org-ITUC org-MIGA org-NAM org-OSCE org-OPCW org-PFP org-PCA org-UN org-UNCTAD org-UNESCO org-UNHCR org-UNIDO org-UNMIL org-UPU org-WCO org-WHO org-WIPO org-WMO org-UNWTO org-WTO', 'area': '14026', 'car_code': 'MNE', 'capital': 'city-Podgorica-MNE-MNE'}
country: Kosovo
Attribs: {'memberships': 'org-CD org-EBRD org-IBRD org-IDA org-IFC org-IMF org-ITUC', 'area': '10887', 'car_code': 'KOS', 'capital': 'city-Pristina-KOS-KOS'}
country: Andorra
Attribs: {'memberships': 'org-CE org-FAO org-IPU org-ICC org-ICAO org-ICCt org-Interpol org-IFRCS org-IOC org-OIF org-ITU org-OSCE org-OPCW org-UN org-UNCTAD org-UNESCO org-WCO org-WHO org-WIPO org-UNWTO org-WTO', 'area': '450', 'car_code': 'AND', 'capital': 'cty-Andorra-Andorra-la-Vella'}
country: France
Attribs: {'memberships': 'org-AfDB org-ADB org-AG org-BIS org-BSEC org-BDEAC org-SICA org-SELEC org-CE org-CBSS org-EMU org-EAPC org-EBRD org-ECB org-EIB org-CERN org-ESA org-EU org-EITI org-FATF org-FAO org-FZ org-G-10 org-G-20 org-G-5 org-G-7 org-G-8 org-InOC org-IADB org-IGAD org-IPU org-IAEA org-IBRD org-ICC org-ICAO org-ICCt org-Interpol org-IDA org-IEA org-IFRCS org-IFC org-IFAD org-IHO org-ILO org-IMO org-IMSO org-IMF org-IOC org-IOM org-OIF org-ITSO org-ITU org-ITUC org-MIGA org-NATO org-NEA org-NSG org-OECD org-OSCE org-OPCW org-OAS org-PIF org-PCA org-SPC org-UN org-UNCTAD org-UNESCO org-UNHCR org-UNIDO org-UNIFIL org-MINURSO org-UNMIL org-UNOCI org-MONUSCO org-UNRWA org-UNSC org-UNTSO org-UPU org-WCO org-WFTU org-WHO org-WIPO org-WMO org-UNWTO org-WTO org-ZC', 'area': '547030', 'car_code': 'F', 'capital': 'cty-France-Paris'}
country: Spain
Attribs: {'memberships': 'org-AfDB org-CAN org-ADB org-AG org-BIS org-BCIE org-SICA org-CD org-SELEC org-CE org-CBSS org-EMU org-EAPC org-EBRD org-ECB org-EIB org-CERN org-ESA org-EU org-EITI org-FATF org-FAO org-IADB org-IPU org-IAEA org-IBRD org-ICC org-ICAO org-ICJ org-ICCt org-Interpol org-IDA org-IEA org-IFRCS org-IFC org-IFAD org-IHO org-ILO org-IMO org-IMSO org-IMF org-IOC org-IOM org-ITSO org-ITU org-ITUC org-LAIA org-MIGA org-NATO org-NEA org-NSG org-OECD org-OSCE org-OPCW org-OAS org-PCA org-UN org-UNCTAD org-UNESCO org-UNHCR org-UNIDO org-UNIFIL org-UNRWA org-UPU org-WCO org-WHO org-WIPO org-WMO org-UNWTO org-WTO org-ZC', 'area': '504750', 'car_code': 'E', 'capital': 'cty-Spain-Madrid'}
country: Austria
Attribs: {'memberships': 'org-AfDB org-ADB org-AG org-BIS org-BSEC org-CEI org-CD org-SELEC org-CE org-EMU org-EAPC org-EBRD org-ECB org-EIB org-CERN org-ESA org-EU org-FATF org-FAO org-G-9 org-IADB org-IGAD org-IPU org-IAEA org-IBRD org-ICC org-ICAO org-ICJ org-ICCt org-Interpol org-IDA org-IEA org-IFRCS org-IFC org-ILO org-IMO org-IMF org-IOC org-IOM org-OIF org-ITSO org-ITU org-ITUC org-MIGA org-NEA org-NSG org-OECD org-OSCE org-OPCW org-OAS org-PFP org-PCA org-UN org-UNCTAD org-UNESCO org-UNHCR org-UNIDO org-UNIFIL org-MINURSO org-UNFICYP org-UNTSO org-UPU org-WCO org-WFTU org-WHO org-WIPO org-WMO org-UNWTO org-WTO org-ZC', 'area': '83850', 'car_code': 'A', 'capital': 'cty-Austria-Vienna'}

In [22]:
# Let's look at independence days
countries = [child for child in mondial_root if child.tag == 'country'] # get country list
for country in countries: # attrib is inside the tag, names are separate tags in the body
    print country.tag + ':' , country.find('name').text + ' (' + country.attrib['car_code'] + ')\n' + 'Independence Date:',\
    country.find('indep_date').text + ', from: '\
    + country.find('indep_date').attrib.get('from', '') if  country.find('indep_date') != None else 'None'

country: Albania (AL)
Independence Date: 1912-11-28, from: Ottoman Empire
country: Greece (GR)
Independence Date: 1829-01-01, from: Ottoman Empire
country: Macedonia (MK)
Independence Date: 1991-09-17, from: Yugoslavia
country: Serbia (SRB)
Independence Date: 1992-04-11, from: Yugoslavia
country: Montenegro (MNE)
Independence Date: 2006-06-03, from: SRB
country: Kosovo (KOS)
Independence Date: 2008-02-17, from: SRB
country: Andorra (AND)
Independence Date: 1278-09-08, from:
country: France (F)
Independence Date: None
country: Spain (E)
Independence Date: 1492-01-01, from:
country: Austria (A)
Independence Date: 1918-11-12, from: Austria-Hungary
country: Czech Republic (CZ)
Independence Date: 1993-01-01, from: Czechoslovakia
country: Germany (D)
Independence Date: 1871-01-18, from:
country: Hungary (H)
Independence Date: 1918-11-18, from: Austria-Hungary
country: Italy (I)
Independence Date: 1861-03-17, from:
country: Liechtenstein (FL)
Independence Date: 1806-07-12, from: Holy Roman Empire
country: Slovakia (SK)
Independence Date: 1993-01-01, from: Czechoslovakia
country: Slovenia (SLO)
Independence Date: 1991-06-25, from: Yugoslavia
country: Switzerland (CH)
Independence Date: 1291-01-01, from:
country: Belarus (BY)
Independence Date: 1991-08-25, from: Soviet Union
country: Latvia (LV)
Independence Date: 1991-09-06, from: Soviet Union
country: Lithuania (LT)
Independence Date: 1991-09-06, from: Soviet Union
country: Poland (PL)
Independence Date: 1918-11-11, from:
country: Ukraine (UA)
Independence Date: 1991-12-01, from: Soviet Union
country: Russia (R)
Independence Date: 1991-08-24, from: Soviet Union
country: Belgium (B)
Independence Date: 1830-10-04, from: NL
country: Luxembourg (L)
Independence Date: 1890-11-24, from: NL
country: Netherlands (NL)
Independence Date: 1579-01-01, from: E
country: Bosnia and Herzegovina (BIH)
Independence Date: 1992-04-01, from: Yugoslavia
country: Croatia (HR)
Independence Date: 1991-06-25, from: Yugoslavia
country: Bulgaria (BG)
Independence Date: 1908-09-22, from: Ottoman Empire
country: Romania (RO)
Independence Date: 1877-05-09, from: Ottoman Empire
country: Turkey (TR)
Independence Date: 1923-10-29, from: Ottoman Empire
country: Denmark (DK)
Independence Date: None
country: Estonia (EW)
Independence Date: 1991-09-06, from: Soviet Union
country: Faroe Islands (FARX)
Independence Date: None
country: Finland (SF)
Independence Date: 1917-12-06, from: R
country: Norway (N)
Independence Date: 1905-10-26, from: S
country: Sweden (S)
Independence Date: None
country: Monaco (MC)
Independence Date: 1419-01-01, from:
country: Gibraltar (GBZ)
Independence Date: None
country: Guernsey (GBG)
Independence Date: None
country: Holy See (V)
Independence Date: 1929-02-11, from: I
country: Ceuta (CEU)
Independence Date: None
country: Melilla (MEL)
Independence Date: None
country: Iceland (IS)
Independence Date: 1944-06-17, from: DK
country: Ireland (IRL)
Independence Date: 1921-12-06, from: GB
country: San Marino (RSM)
Independence Date: 0301-01-01, from:
country: Jersey (GBJ)
Independence Date: None
country: Malta (M)
Independence Date: 1964-09-21, from: GB
country: Isle of Man (GBM)
Independence Date: None
country: Moldova (MD)
Independence Date: 1991-08-27, from: Soviet Union
country: Portugal (P)
Independence Date: 1139-07-25, from: E
country: Svalbard (SVAX)
Independence Date: None
country: United Kingdom (GB)
Independence Date: 1801-01-01, from:
country: Afghanistan (AFG)
Independence Date: 1919-08-19, from: UK
country: China (CN)
Independence Date: None
country: Iran (IR)
Independence Date: None
country: Pakistan (PK)
Independence Date: 1947-08-14, from: GB
country: Tajikistan (TAD)
Independence Date: 1991-09-09, from: Soviet Union
country: Turkmenistan (TM)
Independence Date: 1991-10-27, from: Soviet Union
country: Uzbekistan (UZB)
Independence Date: 1991-08-31, from: Soviet Union
country: Armenia (ARM)
Independence Date: 1918-05-28, from: Soviet Union
country: Georgia (GE)
Independence Date: 1991-04-09, from: Soviet Union
country: Azerbaijan (AZ)
Independence Date: 1991-08-30, from: Soviet Union
country: Bahrain (BRN)
Independence Date: 1971-08-15, from: GB
country: Bangladesh (BD)
Independence Date: 1971-12-16, from: PAK
country: Myanmar (MYA)
Independence Date: 1948-01-04, from: UK
country: India (IND)
Independence Date: 1947-08-15, from: GB
country: Bhutan (BHT)
Independence Date: 1949-08-08, from: GB
country: Brunei (BRU)
Independence Date: 1984-01-01, from: GB
country: Malaysia (MAL)
Independence Date: 1957-08-31, from: GB
country: Laos (LAO)
Independence Date: 1949-07-19, from: F
country: Thailand (THA)
Independence Date: 1238-01-01, from:
country: Cambodia (K)
Independence Date: 1949-11-09, from: F
country: Vietnam (VN)
Independence Date: 1945-09-02, from: F
country: Kazakhstan (KAZ)
Independence Date: 1991-12-16, from: Soviet Union
country: North Korea (NOK)
Independence Date: 1945-08-15, from: J
country: Kyrgyzstan (KGZ)
Independence Date: 1991-08-31, from: Soviet Union
country: Hong Kong (HONX)
Independence Date: None
country: Macao (MACX)
Independence Date: None
country: Mongolia (MNG)
Independence Date: 1921-03-13, from: CN
country: Nepal (NEP)
Independence Date: 1768-01-01, from:
country: Christmas Island (XMAS)
Independence Date: None
country: Cocos Islands (COCO)
Independence Date: None
country: Cyprus (CY)
Independence Date: 1960-08-16, from: GB
country: Gaza Strip (GAZA)
Independence Date: None
country: Israel (IL)
Independence Date: 1948-05-14, from: United Nations
country: Egypt (ET)
Independence Date: 1922-02-28, from: GB
country: Indonesia (RI)
Independence Date: 1945-08-17, from: NL
country: Timor-Leste (TL)
Independence Date: 2002-05-20, from: RI
country: Papua New Guinea (PNG)
Independence Date: 1975-09-16, from: United Nations
country: Iraq (IRQ)
Independence Date: 1932-10-03, from: United Nations
country: Jordan (JOR)
Independence Date: 1946-05-25, from: United Nations
country: Kuwait (KWT)
Independence Date: 1961-06-19, from: GB
country: Saudi Arabia (SA)
Independence Date: 1932-09-23, from:
country: Syria (SYR)
Independence Date: 1946-04-17, from: United Nations
country: Lebanon (RL)
Independence Date: 1943-11-22, from: United Nations
country: West Bank (WEST)
Independence Date: None
country: Japan (J)
Independence Date: None
country: South Korea (ROK)
Independence Date: 1945-08-15, from: J
country: Maldives (MV)
Independence Date: 1965-07-26, from: GB
country: Oman (OM)
Independence Date: 1650-01-01, from: P
country: United Arab Emirates (UAE)
Independence Date: 1971-12-02, from: GB
country: Yemen (YE)
Independence Date: 1990-05-22, from: Merger of North/South Yemen
country: Philippines (RP)
Independence Date: 1946-07-04, from: USA
country: Qatar (Q)
Independence Date: 1971-09-03, from: GB
country: Singapore (SGP)
Independence Date: 1965-08-09, from: MAL
country: Sri Lanka (CL)
Independence Date: 1948-02-04, from: GB
country: Taiwan (RC)
Independence Date: 1949-10-01, from:
country: Anguilla (AXA)
Independence Date: None
country: Antigua and Barbuda (AG)
Independence Date: 1981-11-01, from: GB
country: Aruba (ARU)
Independence Date: None
country: Bahamas (BS)
Independence Date: 1973-07-10, from: GB
country: Barbados (BDS)
Independence Date: 1966-11-30, from: GB
country: Belize (BZ)
Independence Date: 1981-09-21, from: GB
country: Guatemala (GCA)
Independence Date: 1821-09-15, from: E
country: Mexico (MEX)
Independence Date: 1810-09-16, from: E
country: Bermuda (BERM)
Independence Date: None
country: British Virgin Islands (BVIR)
Independence Date: None
country: Canada (CDN)
Independence Date: 1867-07-01, from: GB
country: United States (USA)
Independence Date: 1776-07-04, from: GB
country: Cayman Islands (CAYM)
Independence Date: None
country: Costa Rica (CR)
Independence Date: 1821-09-15, from: E
country: Nicaragua (NIC)
Independence Date: 1821-09-15, from: E
country: Panama (PA)
Independence Date: 1903-11-03, from: CO
country: Cuba (C)
Independence Date: 1902-05-20, from: E
country: Dominica (WD)
Independence Date: 1978-11-03, from: GB
country: Dominican Republic (DOM)
Independence Date: 1844-02-27, from: RH
country: Haiti (RH)
Independence Date: 1804-01-01, from: F
country: El Salvador (ES)
Independence Date: 1821-09-15, from: E
country: Honduras (HCA)
Independence Date: 1821-09-15, from: E
country: Greenland (GROX)
Independence Date: None
country: Grenada (WG)
Independence Date: 1974-02-07, from: GB
country: Guadeloupe (GUAD)
Independence Date: None
country: Jamaica (JA)
Independence Date: 1962-08-06, from: GB
country: Martinique (MART)
Independence Date: None
country: Montserrat (MNTS)
Independence Date: None
country: Curacao (CUR)
Independence Date: None
country: Sint Maarten (NLSM)
Independence Date: None
country: Saint Martin (SMAR)
Independence Date: None
country: Saint Barthelemy (SBAR)
Independence Date: None
country: Colombia (CO)
Independence Date: 1810-07-20, from: E
country: Puerto Rico (PR)
Independence Date: None
country: Saint Kitts and Nevis (KN)
Independence Date: 1983-09-19, from: GB
country: Saint Lucia (WL)
Independence Date: 1979-02-22, from: GB
country: Saint Pierre and Miquelon (SPMI)
Independence Date: None
country: Saint Vincent and the Grenadines (WV)
Independence Date: 1979-10-27, from: GB
country: Trinidad and Tobago (TT)
Independence Date: 1962-08-31, from: GB
country: Turks and Caicos Islands (TUCA)
Independence Date: None
country: Virgin Islands (VIRG)
Independence Date: None
country: American Samoa (AMSA)
Independence Date: None
country: Australia (AUS)
Independence Date: 1901-01-01, from: GB
country: Cook Islands (COOK)
Independence Date: None
country: Fiji (FJI)
Independence Date: 1970-10-10, from: GB
country: French Polynesia (FPOL)
Independence Date: None
country: Guam (GUAM)
Independence Date: None
country: Kiribati (KIR)
Independence Date: 1979-07-12, from: GB
country: Marshall Islands (MH)
Independence Date: 1986-10-21, from: United Nations
country: Micronesia (FSM)
Independence Date: 1986-11-03, from: United Nations
country: Nauru (NAU)
Independence Date: 1968-01-31, from: United Nations
country: New Caledonia (NCA)
Independence Date: None
country: New Zealand (NZ)
Independence Date: 1907-09-26, from: GB
country: Niue (NIUE)
Independence Date: 1974-10-19, from: NZ
country: Norfolk Island (NORF)
Independence Date: None
country: Northern Mariana Islands (NMIS)
Independence Date: None
country: Palau (PAL)
Independence Date: 1994-10-01, from: United Nations
country: Pitcairn (PITC)
Independence Date: None
country: Solomon Islands (SLB)
Independence Date: 1978-07-07, from: GB
country: Tonga (TO)
Independence Date: 1970-06-04, from: GB
country: Tuvalu (TUV)
Independence Date: 1978-10-01, from: GB
country: Tokelau (TOK)
Independence Date: None
country: Vanuatu (VU)
Independence Date: 1980-07-30, from: F
country: Wallis and Futuna (WAFU)
Independence Date: None
country: Samoa (WS)
Independence Date: 1962-01-01, from: United Nations
country: Argentina (RA)
Independence Date: 1816-07-09, from: E
country: Bolivia (BOL)
Independence Date: 1825-08-06, from: E
country: Brazil (BR)
Independence Date: 1822-09-07, from: P
country: Chile (RCH)
Independence Date: 1810-09-18, from: E
country: Paraguay (PY)
Independence Date: 1811-05-14, from: E
country: Uruguay (ROU)
Independence Date: 1828-08-25, from: BR
country: Peru (PE)
Independence Date: 1821-07-28, from: E
country: French Guiana (FGU)
Independence Date: None
country: Guyana (GUY)
Independence Date: 1966-05-26, from: GB
country: Suriname (SME)
Independence Date: 1975-11-25, from: NL
country: Venezuela (YV)
Independence Date: 1811-07-05, from: E
country: Ecuador (EC)
Independence Date: 1822-05-24, from: E
country: Falkland Islands (FALK)
Independence Date: None
country: Algeria (DZ)
Independence Date: 1962-07-05, from: F
country: Libya (LAR)
Independence Date: 1951-12-24, from: I
country: Mali (RMM)
Independence Date: 1960-09-22, from: F
country: Mauritania (RIM)
Independence Date: 1960-11-28, from: F
country: Morocco (MA)
Independence Date: 1956-03-02, from: F
country: Niger (RN)
Independence Date: 1960-08-03, from: F
country: Tunisia (TN)
Independence Date: 1956-03-20, from: F
country: Western Sahara (WSA)
Independence Date: None
country: Angola (ANG)
Independence Date: 1975-11-11, from: P
country: Congo (RCB)
Independence Date: 1960-08-15, from: F
country: Namibia (NAM)
Independence Date: 1990-03-21, from: United Nations
country: Zaire (ZRE)
Independence Date: 1960-06-30, from: B
country: Zambia (Z)
Independence Date: 1964-10-24, from: GB
country: Benin (BEN)
Independence Date: 1960-08-01, from: F
country: Burkina Faso (BF)
Independence Date: 1960-08-05, from: F
country: Nigeria (WAN)
Independence Date: 1960-10-01, from: GB
country: Togo (RT)
Independence Date: 1960-04-27, from: F
country: Botswana (RB)
Independence Date: 1966-09-30, from: GB
country: South Africa (RSA)
Independence Date: 1910-05-31, from: GB
country: Zimbabwe (ZW)
Independence Date: 1980-04-18, from: GB
country: Cote dIvoire (CI)
Independence Date: 1960-08-07, from: F
country: Ghana (GH)
Independence Date: 1957-03-06, from: GB
country: Burundi (BI)
Independence Date: 1962-07-01, from: United Nations
country: Rwanda (RWA)
Independence Date: 1962-07-01, from: United Nations
country: Tanzania (EAT)
Independence Date: 1964-04-26, from: GB
country: Cameroon (CAM)
Independence Date: 1960-01-01, from: United Nations
country: Central African Republic (RCA)
Independence Date: 1960-08-13, from: F
country: Chad (TCH)
Independence Date: 1960-08-11, from: F
country: Equatorial Guinea (GQ)
Independence Date: 1968-10-12, from: E
country: Gabon (G)
Independence Date: 1960-08-17, from: F
country: Cape Verde (CV)
Independence Date: 1975-07-05, from: P
country: Sudan (SUD)
Independence Date: 1956-01-01, from: ET
country: South Sudan (SSD)
Independence Date: 2011-07-09, from: SUD
country: Comoros (COM)
Independence Date: 1975-07-06, from: F
country: Guinea (RG)
Independence Date: 1958-10-02, from: F
country: Liberia (LB)
Independence Date: 1847-07-26, from:
country: Djibouti (DJI)
Independence Date: 1977-06-27, from: F
country: Eritrea (ER)
Independence Date: 1993-05-27, from: ETH
country: Ethiopia (ETH)
Independence Date: None
country: Somalia (SP)
Independence Date: 1960-07-01, from: GB
country: Kenya (EAK)
Independence Date: 1963-12-12, from: GB
country: Gambia (WAG)
Independence Date: 1965-02-18, from: GB
country: Senegal (SN)
Independence Date: 1960-08-20, from: F
country: Guinea-Bissau (GNB)
Independence Date: 1974-09-10, from: P
country: Sierra Leone (WAL)
Independence Date: 1961-04-27, from: GB
country: Uganda (EAU)
Independence Date: 1962-10-09, from: GB
country: Lesotho (LS)
Independence Date: 1966-10-04, from: GB
country: Madagascar (RM)
Independence Date: 1960-06-26, from: F
country: Malawi (MW)
Independence Date: 1964-07-06, from: GB
country: Mozambique (MOC)
Independence Date: 1975-06-25, from: P
country: Mauritius (MS)
Independence Date: 1968-03-12, from: GB
country: Mayotte (MAYO)
Independence Date: None
country: Swaziland (SD)
Independence Date: 1968-09-06, from: GB
country: Reunion (REUN)
Independence Date: None
country: Saint Helena (HELX)
Independence Date: None
country: Sao Tome and Principe (STP)
Independence Date: 1975-07-12, from: P
country: Seychelles (SY)
Independence Date: 1976-06-29, from: GB

In [77]:
i_mortality = [(country.find('name').text, float(country.find('infant_mortality').text))\
               for country in countries if (country.find('infant_mortality') != None)]

In [79]:
i_mortality[:10]

[('Albania', 13.19),
 ('Greece', 4.78),
 ('Macedonia', 7.9),
 ('Serbia', 6.16),
 ('Andorra', 3.69),
 ('France', 3.31),
 ('Spain', 3.33),
 ('Austria', 4.16),
 ('Czech Republic', 2.63),
 ('Germany', 3.46)]

In [81]:
i_mortality.sort(key=lambda x: x[1])

In [82]:
a[:10]

[('Monaco', 1.81),
 ('Japan', 2.13),
 ('Norway', 2.48),
 ('Bermuda', 2.48),
 ('Singapore', 2.53),
 ('Sweden', 2.6),
 ('Czech Republic', 2.63),
 ('Hong Kong', 2.73),
 ('Macao', 3.13),
 ('Iceland', 3.15)]

In [89]:
# another way, because I already am missing the nice formatting of Pandas
import pandas as pd
i_mortality_df = pd.DataFrame(i_mortality,columns=['Country','Infant Mortality Rate'])

In [88]:
i_mortality_df.head(10)

          Country  Infant Mortality Rate
0          Monaco                   1.81
1           Japan                   2.13
2          Norway                   2.48
3         Bermuda                   2.48
4       Singapore                   2.53
5          Sweden                   2.60
6  Czech Republic                   2.63
7       Hong Kong                   2.73
8           Macao                   3.13
9         Iceland                   3.15

In [155]:
ethnic_info = [(country.find('name').text,\
  float(country.findall('population')[-1].text),\
 country.findall('ethnicgroup'))\
 for country in countries]

In [156]:
# more transformation: convert elements. Functional programming rules!
# concept: the previous returned (country, population, ethnic group XML element objects)
# What we need to do is go through each entry, and transform the ethnic group element objects
# per country into tuples labeled by country and population (possibly redundantly) 
ethnic_info_df = pd.DataFrame(reduce(lambda x,y: x+y,\
       map(lambda tup: map(lambda elem: (tup[0],tup[1], elem.text, float(elem.attrib['percentage'])), tup[2]),\
           ethnic_info)),\
             columns=['Country', 'Population', 'Ethnic Group', 'Percentage of Population'])

In [158]:
ethnic_info_df.head(10) # yay, I got it into a data frame!

     Country  Population Ethnic Group  Percentage of Population
0    Albania     2800138     Albanian                      95.0
1    Albania     2800138        Greek                       3.0
2     Greece    10816286        Greek                      93.0
3  Macedonia     2059794   Macedonian                      64.2
4  Macedonia     2059794     Albanian                      25.2
5  Macedonia     2059794      Turkish                       3.9
6  Macedonia     2059794        Gypsy                       2.7
7  Macedonia     2059794         Serb                       1.8
8     Serbia     7120666         Serb                      82.9
9     Serbia     7120666  Montenegrin                       0.9

In [204]:
edf = ethnic_info_df.set_index(['Ethnic Group','Country'])
# Now set the index, to group first by ethnic group
# and then country
edf.head(7)

                        Population  Percentage of Population
Ethnic Group Country
Albanian     Albania       2800138                      95.0
Greek        Albania       2800138                       3.0
             Greece       10816286                      93.0
Macedonian   Macedonia     2059794                      64.2
Albanian     Macedonia     2059794                      25.2
Turkish      Macedonia     2059794                       3.9
Gypsy        Macedonia     2059794                       2.7

In [206]:
# assign the population based on the proportion
edf['Group Population']= edf['Population']*edf['Percentage of Population']/100.0

In [208]:
edf.head() # it's now correctly grouped, by ethnic group, rather than by country

                        Population  Percentage of Population  Group Population
Ethnic Group Country
Albanian     Albania       2800138                      95.0       2660131.100
Greek        Albania       2800138                       3.0         84004.140
             Greece       10816286                      93.0      10059145.980
Macedonian   Macedonia     2059794                      64.2       1322387.748
Albanian     Macedonia     2059794                      25.2        519068.088

In [210]:
# now use groupby to compute the sum
# first reset index to allow groupby
# then drop the now irrelevant columns
# group by ethinc group, then sum, and sort on population, and finally take the head
edf.reset_index()\
.drop(['Population','Percentage of Population'],axis=1)\
.groupby('Ethnic Group')\
.sum()\
.sort(columns='Group Population',ascending=False)\
.head(10)

              Group Population
Ethnic Group
Han Chinese       1.245059e+09
Indo-Aryan        8.718156e+08
European          4.948722e+08
African           3.183251e+08
Dravidian         3.027137e+08
Mestizo           1.577344e+08
Bengali           1.467769e+08
Russian           1.318570e+08
Japanese          1.265342e+08
Malay             1.219936e+08